.booking-list {
  border-top: 2px solid var(--bg-color);
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
  place-items: center;
}

.booking-card {
  border: 2px solid var(--btn-color);
  padding: 1rem;
  background: var(--bg-color);
  border-radius: 1rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: var(--box-shadow);
}

.booking-card > p:not(.booking-card p:nth-child(2)),
.renting-period time {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.5rem;
  font-weight: 700;
  width: 220px;
}

.booking-card p:nth-child(2) {
  font-weight: 700;
  text-align: center;
}

.booking-card span {
  font-weight: 300;
}

.renting-period time {
  margin-bottom: 1rem;
}

.booking-card > p:nth-child(1),
.booking-card > p:nth-child(4) {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--btn-color);
}
