main .create-catway-btn {
  background: var(--bg-color);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}

main h1 {
  text-align: center;
  width: 250px;
}

main > a {
  margin-top: 3rem;
  background: var(--bg-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--btn-color);
}

.catway-form-modal {
  width: 300px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.catway-form-modal > button {
  background: transparent;
  font-size: 1.5rem;
  color: var(--bg-color);
  font-weight: 700;
}

.catways-list {
  border-top: 2px solid var(--bg-color);
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
  place-items: center;
}
.catway-card {
  border: 2px solid var(--btn-color);
  padding: 1rem;
  background: var(--bg-color);
  border-radius: 1rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--box-shadow);
}

.catway-card p:nth-child(1) {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.catway-card p:nth-child(2) {
  font-weight: bold;
}

.catway-card p:nth-child(2) span {
  font-weight: 300;
}

.catways-list .catway-card p:nth-child(3) {
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catway-card button {
  padding: 0.5rem;
  border-radius: 2rem;
  background: white;
  text-transform: uppercase;
  font-weight: bold;
}
