/* Header */

header {
  background: var(--bg-color);
  height: 80px;
  color: var(--text-color);
  display: flex;
  place-items: center;
  justify-content: space-around;
  border-bottom: 0.5rem solid var(--text-color);
  position: relative;
  z-index: 3;
}

header > button {
  background: var(--bg-color);
}

header .icon {
  font-size: 2rem;
}

.desktop-nav {
  display: none;
}

.modal-menu {
  position: absolute;
  bottom: -13.75rem;
  background: white;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 2;
}

.modal-menu > button {
  background: white;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--bg-color);
  padding-right: 0.5rem;
}

.modal-menu nav {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 2rem;
  gap: 1rem;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Footer */

footer {
  background: var(--bg-color);
  height: 100px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  border-top: 0.5rem solid var(--text-color);
  gap: 1rem;
}

footer a:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 1rem;
}
