.user-form {
  padding: 1rem;
  background: var(--form-color);
}

.user-form label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
}

.user-form input {
  border: 2px solid var(--input-color);
  padding: 0.5rem;
  width: 250px;
  margin-bottom: 1.2rem;
  border-radius: 0.5rem;
}

.user-form input:focus {
  box-shadow: none;
  outline-color: var(--bg-color);
}

.user-form button {
  display: block;
  width: 100%;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.orange {
  background: #7a5000;
  color: #ffffff;
  text-transform: uppercase;
}

.red {
  background: #ad0000;
  color: white;
  text-transform: uppercase;
}
